#Loverlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
z-index: 100;
display: none;
}
.Lcontent a{
text-decoration: none;
}
.Lpopup{
width: 100%;
margin: 0 auto;
display: none;
position: fixed;
z-index: 101;
}
.Lcontent{
min-width: 700px;
width: 700px;
min-height: 150px;
margin: 100px auto;
background: #f3f3f3;
position: relative;
z-index: 103;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
}
.Lcontent p{
clear: both;
color: #555555;
text-align: justify;
}
.Lcontent p a{
color: #d91900;
font-weight: bold;
}
.Lcontent .x{
float: right;
height: 35px;
left: 22px;
position: relative;
top: -25px;
width: 34px;
}
.Lcontent .x:hover{
cursor: pointer;
}
.rcbHeader ul,
        .rcbFooter ul,
        .rcbItem ul,
        .rcbHovered ul,
        .rcbDisabled ul {
            margin: 0;
            padding: 0;
            width: 100%;
            display: inline-block;
            list-style-type: none;
        }
 
        .exampleRadComboBox.RadComboBoxDropDown .rcbHeader {
            padding: 5px 27px 4px 7px;
        }

.rcbScroll
{
    overflow: scroll !important;
    overflow-x: hidden !important;
}
        .Lcol1
         {
            margin: 0;
            padding: 0 5px 0 0;
            width: 22%;
            line-height: 14px;
            float: left;
        }
 
        .Lcol2 {
            margin: 0;
            padding: 0 5px 0 0;
            width: 8%;
            line-height: 14px;
            float: left;
        }
 
        .Lcol3 {
            margin: 0;
            padding: 0 5px 0 0;
            width: 16%;
            line-height: 14px;
            float: left;
        }
 
    .Lcol4 {
            margin: 0;
            padding: 0 5px 0 0;
            width: 19%;
            line-height: 14px;
            float: left;
        }
   .Lcol5 {
            margin: 0;
            padding: 0 5px 0 0;
            width: 15%;
            line-height: 14px;
            float: left;
        }
   .Lcol6 {
            margin: 0;
            padding: 0 5px 0 0;
            width: 17%;
            line-height: 14px;
            float: left;
        }
   .Lcol7 {
            margin: 0;
            padding: 0 5px 0 0;
             width: 0%;
            line-height: 14px;
            float: left;
        }
  
 
        /** Multiple rows and columns */
        .multipleRowsColumns .rcbItem,
        .multipleRowsColumns .rcbHovered {
            float: left;
            margin: 0 1px;
            min-height: 13px;
            overflow: hidden;
            padding: 2px 19px 2px 6px;
            width: 193px;
        }
 
 
        .results {
            display: block;
            margin-top: 20px;
        }